<template name="profileSetup">
	<div class="bar bar-header bar-colorAndroidTwo">
		<h1 class="title bar-titleColorAndroid">Profile Setup</h1>
	</div>
	
	{{#ionContent class="contentBackground"}}
	<div class="list" id="profileSetupList">
		<a class="item item-avatar" id="profilePic">
			<img src="/profile_picture/profile.png" id="profileImage">
			<h2 style="margin-top : 6%;">Profile Picture</h2>
		</a>
	</div>
	
	<div class="padding">
	 <img id="sa" style="zoom: 10%;">
	</div>
	
	
	<!--<ul class="list">
		<li class="item">
			<input type="text" placeholder="Status: {{stat}}" id="status">
		</li>
	</ul>-->
	
	{{/ionContent}}
	
</template>